@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Outfit', sans-serif;
  background-color: #0f1419;
  color: #ffffff;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: #f0f0f000;
}

*::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #384451;

  &:hover {
    background-color: #384451;
  }
}

@layer base {
  h1,
  h2,
  h3,
  h4 {
    @apply font-semibold text-foreground;
  }

  h1 {
    @apply text-2xl md:text-3xl lg:text-4xl;
  }

  h2 {
    @apply text-xl md:text-2xl lg:text-3xl;
  }

  h3 {
    @apply text-lg md:text-xl lg:text-2xl;
  }

  h4 {
    @apply text-base md:text-lg lg:text-xl;
  }

  :root {
    --radius: 0.5rem;
  }
}

@layer components {
  input[type='date']::-webkit-calendar-picker-indicator {
    filter: invert(1);
  }

  input[type='datetime-local']::-webkit-calendar-picker-indicator {
    filter: invert(1);
  }

  .rotate-up-indicator .select__dropdown-indicator svg {
    transform: rotate(180deg);
    transition: all 0.3s ease-in-out;
  }

  .rotate-down-indicator .select__dropdown-indicator svg {
    transition: all 0.3s ease-in-out;
  }
}
